head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1.0')
  title Starbucks | Coworker
  link(rel='profile', href='//gmpg.org/xfn/11')
  link(rel='pingback', href='//about.coworker.org/xmlrpc.php')
  link(rel='alternate', type='application/rss+xml', title='Coworker » Feed', href='//about.coworker.org/feed/')
  link(rel='alternate', type='application/rss+xml', title='Coworker » Comments Feed', href='//about.coworker.org/comments/feed/')
  link#coworker-googlefonts-css(rel='stylesheet', href='//fonts.googleapis.com/css?family=Bree+Serif', type='text/css', media='all')
  link#coworker-fontawesome-css(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css?ver=4.1.0', type='text/css', media='all')
  link#coworker-bootstrap-css-css(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?ver=3.1.1', type='text/css', media='all')
  link#coworker-style-css(rel='stylesheet', href='//about.coworker.org/wp-content/themes/coworker/style.css?ver=4.4.2', type='text/css', media='all')
  link(rel='stylesheet', href='/public/style.css')
  link(rel='//api.w.org/', href='//about.coworker.org/wp-json/')
  link(rel='EditURI', type='application/rsd+xml', title='RSD', href='//about.coworker.org/xmlrpc.php?rsd')
  link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='//about.coworker.org/wp-includes/wlwmanifest.xml')
  link(rel='canonical', href='//about.coworker.org/starbucks/')
  link(rel='shortlink', href='//about.coworker.org/?p=174')
  link(rel='alternate', type='application/json+oembed', href='//about.coworker.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fabout.coworker.org%2Fstarbucks%2F')
  link(rel='alternate', type='text/xml+oembed', href='//about.coworker.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fabout.coworker.org%2Fstarbucks%2F&format=xml')
  //if lt IE 9
    link#coworker-ie-css(rel='stylesheet', href='//about.coworker.org/wp-content/themes/coworker/css/ie.css?ver=20131205', type='text/css', media='all')
  script(type='text/javascript', src='//about.coworker.org/wp-includes/js/jquery/jquery.js?ver=1.11.3')
  script(type='text/javascript', src='//about.coworker.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
  script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js?ver=3.1.1')
  script(type='text/javascript', src='//about.coworker.org/wp-content/themes/coworker/js/modernizr.js?ver=20140213')
  script(type='text/javascript', src='//about.coworker.org/wp-content/themes/coworker/js/wsutil.js?ver=20131209')
  meta(name='generator', content='WordPress 4.4.2')