extends layout
title test
p hello
script.
  var example=!{company}
  console.log(example)
p #{company.name}
#campaigns
  each campaign in company.campaigns
    .campaign
      .img
        p #{campaign.img}