extends layout
block title
  title #{company.name}
block content
  h2 Petitions within #{company.name}
  each cause in company.campaigns
    .campaign
      img.img(src=cause.img)
      .name
      .Description
      .signatures
      .goal
      .creator